<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>添加任务</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="/index">首页</a></li>
            <li class="breadcrumb-item"><a href="/maintask-list">任务列表</a></li>
            <li class="breadcrumb-item active"><a href="#">添加任务</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" id="maintaskForm">
                            <!-- 基础部分 -->
                            <fieldset>
                                <legend>基础部分</legend>
                                <div class="form-group row">
                                    <label class="control-label col-md-2" for="name">任务名称</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="name"
                                                   placeholder="任务名称" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                        id="generateMaintaskName">
                                                    <i class="fa fa-edit">生成任务名称</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2" for="description">任务详细描述</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" id="description"
                                               placeholder="任务描述">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2" for="profile_name">选择任务模板</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <select class="form-control" id="profile_name">
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                        id="editProfile">
                                                    <i class="fa fa-edit">编辑模板配置</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>


                            <!-- Tab组件 -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="maintaskinfo-tab" data-toggle="tab"
                                       href="#maintaskinfo"
                                       role="tab" aria-controls="profile" aria-selected="false">
                                        任务设置
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile"
                                       role="tab" aria-controls="maintaskinfo" aria-selected="true">
                                        模板配置
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="maintaskinfo" role="tabpanel"
                                     aria-labelledby="maintaskinfo-tab">
                                    <div class="form-group row border-bottom border-top pb-3 mb-3"
                                         style="padding-top: 20px;">
                                        <div class="col-md-2 form-group">
                                            <label for="target"><strong>任务执行的目标</strong>
                                                <i class="fa fa-info-circle"
                                                   aria-hidden="true"
                                                   title="如果是域名任务，请输入域名或子域名；如果是IP扫描任务，请输入IP地址；如果是大模型API任务，请输入公司名称或组织名称；多个目标请用换行符分隔"></i>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                                    <textarea class="form-control" id="target" rows="5"
                                                              placeholder="请输入任务目标，多个目标请用换行符分隔"
                                                              required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row border-bottom pb-3 mb-3">
                                        <div class="col-md-2 form-group">
                                            <label for="exclude_target"><strong>需排除的目标</strong><i
                                                    class="fa fa-question-circle"
                                                    aria-hidden="true"
                                                    title='只限于nmap、massscan、gogo等支持排除目标的扫描器。'></i></label>
                                        </div>
                                        <div class="col-md-8">
                                                    <textarea class="form-control" id="exclude_target"
                                                              rows="3"
                                                              placeholder="请输入要排除任务目标，多个目标请用换行符分隔"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row border-bottom pb-3 mb-3">
                                        <div class="col-md-2 form-group">
                                            <label><strong>目标拆分</strong><i class="fa fa-question-circle"
                                                                               aria-hidden="true"
                                                                               title='将一个目标拆分成多个任务同时执行，以便并发扫描；按行拆分是将输入的目标每一行作为一个单独的子任务执行，按IP拆分是将输入的目标按IP地址拆分成多个任务。'></i></label>
                                        </div>
                                        <div class="col-md-8">
                                            <label for="target_split">拆分方式：</label>
                                            <select class="form-control" id="target_split"
                                                    style="width: 200px;">
                                                <option value="0">不拆分</option>
                                                <option value="1" selected>按行拆分</option>
                                                <option value="2">按IP拆分</option>
                                            </select>
                                            <label for="target_split_num">拆分数量</label>
                                            <input class="form-control" id="target_split_num" style="width: 200px;"
                                                   disabled
                                                   value="1"
                                                   type="number" min="1" max="99999">
                                        </div>
                                    </div>
                                    <div class="form-group row border-bottom pb-3 mb-3">
                                        <div class="col-md-2 form-group">
                                            <label for="org_id"><strong>资产所属的组织</strong></label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" id="org_id"
                                                    style="width: 200px;">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row border-bottom pb-3 mb-3">
                                        <div class="col-md-2 form-group">
                                            <label for="is_cron_task"><strong>定时任务</strong></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="is_cron_task">
                                                    设置为定时任务</label>
                                            </div>
                                            <label for="cron_exp">定时任务表达式</label><i
                                                class="fa fa-info-circle" aria-hidden="true"
                                                title="定时任务&#10;任务在指定时间启动并周期执行，执行规则同Linux Crontab任务计划格式&#10;任务格式：“分钟 小时 日 月 周”，可使用*、/、,、-等特殊符号&#10;例：0 8-16/2 * * *表示在每天8-16点的整点，每隔2小时启动&#10;参见：https://www.runoob.com/w3cnote/linux-crontab-tasks.html"></i>
                                            <input class="form-control" id="cron_exp">
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3 mb-3">
                                        <div class="col-md-2 form-group">
                                            <label for="is_proxy"><strong>代理设置</strong><i
                                                    class="fa fa-question-circle"
                                                    aria-hidden="true"
                                                    title='只限于部份支持socks5代理的工具，包括gogo、指纹识别等工具'></i></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="is_proxy">
                                                    启用代理</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">

                                    <!-- LLMAPI部分 -->
                                    <div class="form-group row border-bottom mt-3" id="div_llmapi">
                                        <div class="col-md-2 form-group">
                                            <label><strong>组织机构查询</strong>
                                                <i class="fa fa-question-circle"
                                                   aria-hidden="true"
                                                   title="调用在线大模型API或组织机构备案域名查询，通过提示词得到目标的域名；注意：请输入目标为公司名称或组织名称，通过大模型API接口提取得到目标的域名信息；具体提法词请查看源代码或文档"></i>
                                            </label>
                                        </div>
                                        <div class="col-md-8" id="llmapi_config">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="qwen">Qwen</label>
                                                <label><input type="checkbox" id="kimi">Kimi</label>
                                                <label><input type="checkbox" id="deepseek">Deepseek</label>
                                                <label><input type="checkbox" id="icpPlus">组织机构备案域名查询</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 端口扫描与端口扫描配置 -->
                                    <div class="form-group row border-bottom pb-3 mb-3" id="div_portscan">
                                        <div class="col-md-2 form-group">
                                            <label><strong>端口扫描</strong></label>
                                        </div>
                                        <div class="col-md-8" id="portscan_config">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="nmap">
                                                    Nmap</label>
                                                <label><input type="checkbox" id="masscan"
                                                >
                                                    Masscan</label>
                                                <label><input type="checkbox" id="gogo">
                                                    Gogo</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="portscan_port">端口：</label>
                                                <input class="form-control" id="portscan_port" type="text"

                                                       placeholder=""
                                                       value="--top-ports 1000" list="datalist_port">
                                                <datalist id="datalist_port" style="display:none;">
                                                    <option value="--top-ports 100" selected>
                                                        --top-ports 100
                                                    </option>
                                                    <option value="--top-ports 1000">
                                                        --top-ports 1000
                                                    </option>
                                                    <option value="1-65535">
                                                        1-65535
                                                    </option>
                                                    <option value="">自定义端口</option>
                                                </datalist>
                                            </div>
                                            <div class="form-group">
                                                <label for="portscan_rate">扫描速度<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="Send packets per second&#10;对应--min-rate(nmap)、--rate(masscan)、--thread(gogo)参数"></i></label>
                                                <input class="form-control" id="portscan_rate"

                                                       type="text" placeholder="1000（默认）" style="width: 100px;"
                                                       value="1000">
                                            </div>
                                            <div class="form-group">
                                                <label for="portscan_tech">探测技术<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="使用nmap时的选项，masscan只使用SYN扫描，gogo只使用TCP扫描"></i></label>
                                                <select class="form-control" id="portscan_tech"
                                                        style="width: 100px;"
                                                >
                                                    <option value="-sS" selected>-sS
                                                    </option>
                                                    <option value="-sT">-sT</option>
                                                    <option value="-sV">-sV</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="portscan_PortscanConfig_maxOpenedPortPerIp">开放端口数量阈值<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="如果扫描结果中某个IP的开放端口数量超过该阈值，则该IP将被过滤掉不会被保存到结果中"></i></label>
                                                <input class="form-control" type="number" style="width: 100px;"
                                                       id="portscan_PortscanConfig_maxOpenedPortPerIp"

                                                       value="50">
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="portscan_is_ping"
                                                >
                                                    允许Ping</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 域名扫描与域名扫描配置 -->
                                    <div class="form-group row border-bottom pb-3 mb-3" id="div_domainscan">
                                        <div class="col-md-2 form-group">
                                            <label><strong>域名扫描</strong></label>
                                        </div>
                                        <div class="col-md-8" id="domainscan_config">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="massdns"
                                                > Massdns</label>
                                                <label><input type="checkbox" id="subfinder"
                                                > Subfinder</label>
                                            </div>
                                            <div class="form-group">
                                                <label><strong>结果过滤：</strong></label>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="domainscan_is_ignore_cdn"
                                                    >
                                                        忽略CDN域名和IP</label>
                                                    <label><input type="checkbox"
                                                                  id="domainscan_is_ignore_china_other"
                                                    >
                                                        忽略中国港澳台地区IP</label>
                                                    <label><input type="checkbox"
                                                                  id="domainscan_is_ignore_outside_china"
                                                    >
                                                        忽略中国以外IP</label>
                                                </div>
                                                <label><strong>IP进行主动扫描<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="对域名任务结果中的IP地址进行主动扫描，以获取更多信息"></i>：</strong></label>
                                                <div class="checkbox">
                                                    <label><input type="checkbox"
                                                                  id="domainscan_is_ip_port_scan">
                                                        IP端口扫描</label>
                                                    <label><input type="checkbox"
                                                                  id="domainscan_is_ip_subnet_port_scan">
                                                        IP子网端口扫描</label>
                                                </div>

                                                <div class="form-group col-md-12 align-self-end m-0 p-0"
                                                     id="domain_portscan_config"
                                                     style="display: flex;">
                                                    <div class="form-group col-sm-2 pl-0">
                                                        <label for="domain_portscan_bin">端口扫描工具</label>
                                                        <select class="form-control" id="domain_portscan_bin"
                                                                style="width: 100px;">
                                                            <option value="nmap" selected>nmap
                                                            </option>
                                                            <option value="masscan">masscan</option>
                                                            <option value="gogo">gogo</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-4 pl-0">
                                                        <label for="domain_portscan_port">端口：</label>
                                                        <input class="form-control" id="domain_portscan_port"
                                                               type="text"
                                                               placeholder=""
                                                               value="--top-ports 1000" list="domain_datalist_port">
                                                        <datalist id="domain_datalist_port" style="display:none;">
                                                            <option value="--top-ports 100" selected>
                                                                --top-ports 100
                                                            </option>
                                                            <option value="--top-ports 1000">
                                                                --top-ports 1000
                                                            </option>
                                                            <option value="1-65535">
                                                                1-65535
                                                            </option>
                                                            <option value="">自定义端口</option>
                                                        </datalist>
                                                    </div>
                                                    <div class="form-group col-sm-2 pl-0">
                                                        <label for="domain_portscan_rate">扫描速度<i
                                                                class="fa fa-question-circle"
                                                                aria-hidden="true"
                                                                title="Send packets per second&#10;对应--min-rate(nmap)、--rate(masscan)、--thread(gogo)参数"></i></label>
                                                        <input class="form-control" id="domain_portscan_rate"
                                                               type="text" placeholder="1000（默认）"
                                                               style="width: 100px;"
                                                               value="1000">
                                                    </div>
                                                    <div class="form-group col-md-2 pl-0">
                                                        <label for="domain_portscan_tech">探测技术<i
                                                                class="fa fa-question-circle"
                                                                aria-hidden="true"
                                                                title="使用nmap时的选项，masscan只使用SYN扫描，gogo只使用TCP扫描"></i></label>
                                                        <select class="form-control" id="domain_portscan_tech"
                                                                style="width: 100px;">
                                                            <option value="-sS" selected>-sS
                                                            </option>
                                                            <option value="-sT">-sT</option>
                                                            <option value="-sV">-sV</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-2 pl-0">
                                                        <label for="domain_portscan_PortscanConfig_maxOpenedPortPerIp">开放端口数量阈值<i
                                                                class="fa fa-question-circle"
                                                                aria-hidden="true"
                                                                title="如果扫描结果中某个IP的开放端口数量超过该阈值，则该IP将被过滤掉不会被保存到结果中"></i></label>
                                                        <input class="form-control" type="number"
                                                               style="width: 100px;"
                                                               id="domain_portscan_PortscanConfig_maxOpenedPortPerIp"
                                                               value="50">
                                                    </div>
                                                </div>

                                                <label for="domainscan_PortscanConfig_maxOpenedPortPerIp">域名被解析到同一个IP的阈值<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="域名解析到同一个IP的数量超过该阈值，则该域名可能是被泛解析的域名，将被过滤掉不会被保存到结果中"></i>：</label>
                                                <input class="form-control" type="number" style="width: 100px;"
                                                       id="domainscan_PortscanConfig_maxOpenedPortPerIp"

                                                       value="100">
                                                <label for="domainscan_wordlist_file">子域名暴力破解字典<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="massdns进行子域名暴力破解时使用的字典文件，默认为小字典subnames.txt"></i></label>
                                                <select class="form-control" id="domainscan_wordlist_file"
                                                        style="width: 200px;">
                                                    <option value="normal" selected>小字典（约9万条）- 推荐
                                                    </option>
                                                    <option value="medium">中型字典（约88万条）</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 在线API与在线API配置 -->
                                    <div class="form-group row border-bottom pb-3 mb-3" id="div_onlineapi">
                                        <div class="col-md-2 form-group">
                                            <label><strong>在线API</strong></label>
                                        </div>
                                        <div class="col-md-8" id="onlineapi_config">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="fofa">
                                                    Fofa</label>
                                                <label><input type="checkbox" id="hunter"
                                                >
                                                    Hunter</label>
                                                <label><input type="checkbox" id="quake">
                                                    Quake</label>
                                                <label><input type="checkbox" id="whois">
                                                    Whois</label>
                                                <label><input type="checkbox" id="icp">
                                                    ICP</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="onlineapi_search_by_keyword"
                                                    >
                                                        自定义关键词语法搜索<i
                                                                class="fa fa-question-circle"
                                                                aria-hidden="true"
                                                                title='使用在线资产API的搜索语法执行任务，比如：ip="114.114.114.114" && port="80"；请确保使用的在线资产API的搜索语法正确性。'></i></label>
                                                </div>
                                                <label><strong>结果过滤：</strong></label>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="onlineapi_is_ignore_cdn"
                                                    >
                                                        忽略CDN域名和IP</label>
                                                    <label><input type="checkbox"
                                                                  id="onlineapi_is_ignore_china_other"
                                                    >
                                                        忽略中国港澳台地区IP</label>
                                                    <label><input type="checkbox"
                                                                  id="onlineapi_is_ignore_outside_china"
                                                    >
                                                        忽略中国以外IP</label>
                                                </div>
                                                <label for="onlineapi_search_start_time">指定搜索开始时间<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title='指定搜索开始时间，格式为"2021-01-01 00:00:00"，如果不指定，则默认全部的资产。'></i></label>
                                                <input class="form-control" type="text" style="width: 100px;"
                                                       id="onlineapi_search_start_time"

                                                       value="">
                                                <label for="onlineapi_search_limit_count">搜索限制数量<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title='指定搜索返回的总记录数量，默认返回所有记录。'></i></label>
                                                <input class="form-control" type="number" style="width: 100px;"
                                                       id="onlineapi_search_limit_count"

                                                       value="1000">
                                                <label for="onlineapi_search_page_size">搜索页面大小<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title='在线资产API采用分页查询的方式，每页返回的记录数量'></i></label>
                                                <input class="form-control" type="number" style="width: 100px;"
                                                       id="onlineapi_search_page_size"

                                                       value="100">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 指纹识别 -->
                                    <div class="form-group row border-bottom pb-3 mb-3" id="div_fingerprint">
                                        <div class="col-md-2 form-group">
                                            <label><strong>指纹识别</strong></label>
                                        </div>
                                        <div class="col-md-8" id="fingerprint_config">
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="fingerprint_httpx"
                                                >
                                                    Httpx<i class="fa fa-question-circle"
                                                            aria-hidden="true"
                                                            title='调用httpx进行HTTP协议指纹识别'></i></label>
                                                <label><input type="checkbox" id="fingerprint_screenshot"
                                                >截图</label>
                                                <label><input type="checkbox" id="fingerprint_icon_hash"
                                                > Icon Hash</label>
                                                <label><input type="checkbox" id="fingerprint_fingerprintx"
                                                >
                                                    Fingerprintx<i class="fa fa-question-circle"
                                                                   aria-hidden="true"
                                                                   title='调用fingerprintx进行非HTTP协议指纹识别'></i></label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- POC扫描与POC扫描配置 -->
                                    <div class="form-group row border-bottom pb-3 mb-3" id="div_pocscan">
                                        <div class="col-md-2 form-group">
                                            <label><strong>Poc扫描</strong></label>
                                        </div>
                                        <div class="col-md-8" id="pocscan_config">
                                            <div class="form-group">
                                                <label for="pocscan_bin">验证工具：</label>
                                                <select class="form-control" id="pocscan_bin" style="width: 200px;">
                                                    <option value="nuclei" selected>Nuclei</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="pocscan_poc_type">Poc类型：</label>
                                                <select class="form-control" id="pocscan_poc_type"
                                                        style="width: 200px;">
                                                    <option value="matchFinger" selected>指纹自动匹配</option>
                                                    <option value="selectedPocFile">指定Poc文件</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="pocscan_poc_file">Poc文件：</label>
                                                <input class="form-control" type="text" id="pocscan_poc_file"
                                                       placeholder="POC文件">
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="pocscan_brute_password">
                                                    自动弱口令爆破<i class="fa fa-question-circle"
                                                                     aria-hidden="true"
                                                                     title='通过在指纹识别的基础上，对匹配到的Service调用zombie工具进行弱口令爆破；zombie支持的协议请用zombie --list查看；用户和口令字典使用zombie默认的字典文件。'></i></label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="pocscan_base_web_status">
                                                    基于Web服务状态<i class="fa fa-question-circle"
                                                                      aria-hidden="true"
                                                                      title='通过在指纹识别的基础上，只有识别到上一步的指纹结果有Web服务状态码时才进行POC扫描，否则跳过。'></i></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row border-bottom pb-3 mb-3" id="div_standalone">
                                        <div class="col-md-2 form-group">
                                            <label><strong>独立扫描</strong></label>
                                        </div>
                                        <div class="col-md-8" id="standalone_config">
                                            <div class="form-group">
                                                <label for="standalone_port">端口：</label>
                                                <input class="form-control" id="standalone_port" type="text"

                                                       placeholder=""
                                                       value="--top-ports 1000" list="standalone_datalist_port">
                                                <datalist id="standalone_datalist_port" style="display:none;">
                                                    <option value="--top-ports 100" selected>
                                                        --top-ports 100
                                                    </option>
                                                    <option value="--top-ports 1000">
                                                        --top-ports 1000
                                                    </option>
                                                    <option value="1-65535">
                                                        1-65535
                                                    </option>
                                                    <option value="">自定义端口</option>
                                                </datalist>
                                            </div>
                                            <div class="form-group">
                                                <label for="standalone_rate">扫描速度<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="Send packets per second&#10;对应--min-rate(nmap)、--rate(masscan)、--thread(gogo)参数"></i></label>
                                                <input class="form-control" id="standalone_rate"

                                                       type="text" placeholder="1000（默认）" style="width: 100px;"
                                                       value="1000">
                                            </div>
                                            <div class="form-group">
                                                <label for="standalone_PortscanConfig_maxOpenedPortPerIp">开放端口数量阈值<i
                                                        class="fa fa-question-circle"
                                                        aria-hidden="true"
                                                        title="如果扫描结果中某个IP的开放端口数量超过该阈值，则该IP将被过滤掉不会被保存到结果中"></i></label>
                                                <input class="form-control" type="number" style="width: 100px;"
                                                       id="standalone_PortscanConfig_maxOpenedPortPerIp"

                                                       value="50">
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="standalone_is_ping"
                                                >
                                                    允许Ping</label>
                                                <label><input type="checkbox" id="standalone_is_verbose"
                                                >
                                                    详细指纹探测</label>
                                                <label><input type="checkbox" id="standalone_is_poc_scan"
                                                >
                                                    进行POC扫描</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tile-footer">
                                    <button class="btn btn-secondary" onclick="history.back()">返回</button>
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <input type="hidden" id="hidden_id" value="{{ .maintaskId }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/bootstrap/bootstrap-multiselect.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/plugins/select2.min.js"></script>
<script src="static/js/jquery/jquery.md5.js"></script>
<script src="static/js/server/maintask-add.js"></script>
<script>
    $(function () {
        $("title").html("新建任务-Nemo");
    });
</script>
