<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <!-- 任务详情卡片 -->
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="card shadow-sm">
                                <div class="card-header bg-primary text-white">
                                    <h2 class="card-title mb-0"><i class="fa fa-tasks"></i>任务详情: <span
                                            id="task_id"></span></h2>
                                </div>
                                <div class="card-body">
                                    <!-- 第一组：任务基本信息 -->
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <span class="badge badge-info">任务名称</span>
                                            <span class="badge badge-light" id="task_name"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-2">
                                            <span class="badge badge-info">任务状态</span>
                                            <span class="badge badge-light" id="task_status"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">模板名称</span>
                                            <span class="badge badge-light" id="task_profile_name"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">工作空间</span>
                                            <span class="badge badge-light" id="task_workspace_name"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">资产组织</span>
                                            <span class="badge badge-light" id="task_org_name"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">目标拆分</span>
                                            <span class="badge badge-light" id="task_split"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-2">
                                            <span class="badge badge-info">创建时间</span>
                                            <span class="badge badge-light" id="task_create_time"></span>
                                        </div>

                                        <div class="col-md-2">
                                            <span class="badge badge-info">开始时间</span>
                                            <span class="badge badge-light" id="task_start_time"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">结束时间</span>
                                            <span class="badge badge-light" id="task_end_time"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">执行时长</span>
                                            <span class="badge badge-light" id="task_run_time"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info" title="执行中/待执行/总任务">子任务</span>
                                            <span class="badge badge-light" id="task_executors_num"
                                                  title="待执行/执行中/总任务"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-2">
                                            <span class="badge badge-info">任务进度</span>
                                            <span class="badge badge-light" id="task_progress"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">任务结果</span>
                                            <span class="badge badge-light" id="task_result"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">启用代理</span>
                                            <span class="badge badge-light" id="task_proxy"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="badge badge-info">定时任务</span>
                                            <span class="badge badge-light" id="task_cron"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <span class="badge badge-info">任务描述</span>
                                            <span class="badge badge-light" id="task_description"></span>
                                        </div>
                                    </div>

                                    <!-- 任务目标和排除目标 -->
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <span class="badge badge-info">任务目标</span>
                                            <div class="card bg-light p-3">
                                                <pre class="mb-0" id="task_target"></pre>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="badge badge-info">排除的目标</span>
                                            <div class="card bg-light p-3">
                                                <pre class="mb-0" id="task_exclude_target"></pre>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 任务参数 -->
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <span class="badge badge-info">任务参数</span>
                                            <div class="card bg-light p-3">
                                                <pre class="mb-0" id="task_args"></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 子任务列表卡片 -->
                    <div class="row" id="task_executor_card">
                        <div class="col-md-12">
                            <div class="card shadow-sm">
                                <div class="card-header bg-primary text-white">
                                    <h2 class="card-title mb-0"><i class="fa fa-list"></i>子任务列表&nbsp;&nbsp;<i
                                            class="fa fa-random" aria-hidden="true"></i><a onclick=view_tree() href="#"><span
                                            style="color: white;">查看任务流程图</span></a>&nbsp;
                                    <select title="任务状态" id="select_task_status" style="width: 200px;font-size: 14px;">
                                        <option value="" selected>--全部任务--</option>
                                        <option value="CREATED">已创建</option>
                                        <option value="STARTED">执行中</option>
                                        <option value="SUCCESS">成功</option>
                                        <option value="FAILURE">失败</option>
                                    </select>
                                    </h2>
                                </div>
                                <div class="card-body">
                                    <table class="table table-hover table-bordered" id="task_executor_table">
                                        <thead class="thead-light">
                                        <tr>
                                            <th width="3%">序号</th>
                                            <th width="5%">任务名称</th>
                                            <th width="5%">任务状态</th>
                                            <th width="25%">目标</th>
                                            <th width="20%">结果</th>
                                            <th width="6%">启动时间</th>
                                            <th width="6%">完成时间</th>
                                            <th width="6%">执行时长</th>
                                            <th width="8%">worker</th>
                                            <th width="6%">创建时间</th>
                                            <th width="6%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="task_executor_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<script src="static/js/server/maintask-info.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script>
    $(function () {
        $("title").html("任务详情-Nemo");
        // 为删除按钮添加工具提示
        $('[title="删除"]').tooltip();
    });
</script>