<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i>任务模板列表</h1>
            <p></p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item"><a href="/maintask-list">任务管理</a></li>
            <li class="breadcrumb-item active"><a href="#">任务模板列表</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <a class="btn btn-primary" href="/profile-add" role="button" title="新建任务模板">
                        <i class="fa fa-cog fa-lg"></i>新建任务模板</a>
                    <br>
                    <br>
                    <table class="table table-hover table-bordered dataTable no-footer" id="profile_table" role="grid"
                           aria-describedby="profile_table" width="100%">
                    </table>
                </div>
                <!----tile body-->
            </div> <!-- tile -->
        </div> <!-- col md-12 -->
    </div>
    <!--row-->
</main>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="static/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery/jquery.bootstrap-duallistbox.js"></script>
<script type="text/javascript" src="static/js/server/profile-list.js"></script>
<script>
    $(function () {
        $("title").html("任务模板管理-Nemo");
    });
</script>
