<main class="app-content">
    <div class="row">
        <div class="imgPreview"><img src="#" alt="" id="imgPreview">
        </div>
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <form class="row">
                        <div class="form-group col-md-9">
                            <label class="control-label" >服务端没有配置Elasticsearch或获取连接失败，无法使用该功能，请联系管理员。
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- col md-12 -->
    </div>

    <!--row-->
</main>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<!-- Data table plugin-->
<script src="static/js/plugins/jquery.dataTables.min.js"></script>
<script src="static/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery/jquery.bootstrap-duallistbox.js"></script>
<script src="static/js/server/list-common.js"></script>
<script>
    $(function () {
        $("title").html("EsSearch-Nemo");
    });
</script>
