<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="imgPreview"><img src="#" alt="" id="imgPreview">
            </div>
            <div class="tile">
                <div class="tile-body">
                    <form class="row">
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="select_org_id_search">组织机构
                            </label>
                            <select class="form-control" title="机构组构" id="select_org_id_search">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="domain_address">Domain</label>
                            <input class="form-control" type="text" id="domain_address" placeholder="域名（模糊搜索）"
                                   value="{{ .data.DomainAddress }}">
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="ip_address">IP</label>
                            <input class="form-control" type="text" id="ip_address" placeholder="IP（单个或IP/掩码）"
                                   value="{{ .data.IpAddressIp }}">
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="port">Port</label>
                            <input class="form-control" type="text" id="port" placeholder="端口（多个以逗号分隔）"
                                   value="{{ .data.Port }}">
                        </div>

                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="button" id="search"><i
                                    class="fa fa-fw fa-lg fa-search"></i>搜索
                            </button>
                            <button class="btn btn-primary" type="button" id="create_task"><i class="fa fa-plus"></i>新建任务
                            </button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-angle-double-down"></i>其它
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#" id="ip_statistics"><i
                                            class="fa fa-fw fa-lg fa-line-chart"></i>统计</a>
                                    <a class="dropdown-item" href="#" id="ip_memo_export"><i
                                            class="fa fa-fw fa-lg fa-flag"></i>备忘录信息</a>
                                    <a class="dropdown-item" href="#" id="batch_delete"><i
                                            class="fa fa-fw fa-lg fa-remove"></i>删除</a>
                                </div>
                            </div>
                            <button class="btn btn-secondary" type="button" data-toggle="collapse"
                                    href="#collapseExample"
                                    role="button"
                                    aria-expanded="false" aria-controls="collapseExample"><i
                                    class="fa fa-angle-double-down"></i>更多
                            </button>
                        </div>
                        <input type="hidden" value="{{ .data.OrgId }}" id="hidden_org_id">
                    </form>
                </div>
                <div>
                    <div class="collapse" id="collapseExample">
                        <form class="row">
                            <div class="form-group col-md-2">
                                <label class="control-label" for="iplocation">IP归属地</label>
                                <input class="form-control" type="text" id="iplocation" placeholder="归属地(模糊搜索）"
                                       value="">
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label" for="content">端口属性</label>
                                <input class="form-control" type="text" id="content" placeholder="属性内容(模糊搜索）" value="">
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label" for="port_status">HTTP状态码</label>
                                <select class="form-control" title="端口状态" id="port_status">
                                    <option value="">--全部--</option>
                                    <option value="200">200</option>
                                    <option value="301">301</option>
                                    <option value="302">302</option>
                                    <option value="304">304</option>
                                    <option value="400">400</option>
                                    <option value="401">401</option>
                                    <option value="403">403</option>
                                    <option value="404">404</option>
                                    <option value="500">500</option>
                                    <option value="502">502</option>
                                    <option value="503">503</option>
                                    <option value="504">504</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label" for="select_color_tag">颜色标记</label>
                                <select class="form-control" title="颜色标记" id="select_color_tag">
                                    <option class="bg-white" value="">--不限--</option>
                                    <option class="bg-danger" value="badge-danger">RED</option>
                                    <option class="bg-warning" value="badge-warning">YELLOW</option>
                                    <option class="bg-info" value="badge-info">BLUE</option>
                                    <option class="bg-success" value="badge-success">GREEN</option>
                                    <option class="bg-secondary" value="badge-secondary">GRAY</option>
                                    <option class="bg-dark" value="badge-dark">BLANK</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label" for="date_delta">IP更新时间</label>
                                <select class="form-control" title="更新时间" id="date_delta">
                                    <option value="0">--不限--</option>
                                    <option value="365">一年内</option>
                                    <option value="180">半年内</option>
                                    <option value="90">三个月内</option>
                                    <option value="30">一个月内</option>
                                    <option value="7">一周内</option>
                                    <option value="1">一天内</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label" for="create_date_delta">端口发现时间</label>
                                <select class="form-control" title="端口发现时间" id="create_date_delta">
                                    <option value="0">--不限--</option>
                                    <option value="365">一年内</option>
                                    <option value="180">半年内</option>
                                    <option value="90">三个月内</option>
                                    <option value="30">一个月内</option>
                                    <option value="7">一周内</option>
                                    <option value="1">一天内</option>
                                </select>
                            </div>
                        </form>
                        <form class="row">
                            <div class="form-group col-md-2">
                                <label class="control-label" for="memo_content">备忘录信息</label>
                                <input class="form-control" type="text" id="memo_content" placeholder="备忘录信息(模糊搜索）"
                                       value="">
                            </div>
                            <div class="form-group col-md-2">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label"
                                           for="checkbox_disable_fofa">
                                        <input class="form-check-input"
                                               id="checkbox_disable_fofa" type="checkbox">不看FOFA信息
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="ip_table" width="100%">
                    </table>
                    <!-- 模态对话框：任务-->
                    <div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header card-header bg-primary">
                                    <h4 class="modal-title" id="myModalLabel">
                                        新建任务
                                    </h4>
                                </div>
                                <div class="modal-body ">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="text_target">
                                                <b><span class="text-danger">*</span>Targets:</b>
                                            </label>
                                            <textarea class="form-control" id="text_target" rows="4"
                                                      placeholder="192.168.1.1&#10;172.16.80.0/24&#10;www.google.com"></textarea>
                                            <div class="bs-component">
                                                <ul class="nav nav-tabs" id="nav_tabs">
                                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                                            href="#portscan"><strong>资产扫描</strong></a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                                            href="#vulverify"><strong>漏洞验证</strong></a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade active show" id="portscan">
                                                        <div class="form-group row bg-light">
                                                            <div class="col-md-12">
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_portscan">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_portscan" type="checkbox"
                                                                               checked><b>端口扫描</b>
                                                                    </label>
                                                                </div>
                                                                <input class="form-control" id="input_port" type="text"
                                                                       placeholder="--top-ports 1000（支持Nmap格式的端口列表）"
                                                                       value="" list="datalist_port">
                                                                <datalist id="datalist_port" style="display:none;">
                                                                    <option value="--top-ports 1000" selected>
                                                                        --top-ports 1000
                                                                    </option>
                                                                    <option
                                                                            value="10022,13389,15900,15901,17001,17002,17003,17004,17005,17006,17007,17008,17009,17010,18080,18081,18082,18083,18084,18085,18086,18087,18088,18089,19000,19001,19002,19003,19004,19005,19006,19007,19008,19009,11521,11522,11523,11524,11525,11526,11527,11528,11529,11530,11433,11434,11435,11436,11437,11438,11439,11440,11441,11442,13306,13307,13308,13309,13310,13311,13312,13313,13314,13315,15432,15433,15434,15435,15436,15437,15438,15439,15440,15441,37017,37018,37019,37020,37021,37022,37023,37024,37025,37026,19100,19101,19102,19103,19104,19105,19106,19107,19108,19109,19200,19201,19202,19203,19204,19205,19206,19207,19208,19209,20069,20020,20021,20161,20162">
                                                                        --custom-ports
                                                                    </option>
                                                                    <option
                                                                            value="80,22,443,10022,23,111,8000,8080,554,5900,21,9100,5357,13389,5000,18080,3306,11521,17001,8443,53,5003,6000,9999,18089,8009,1025,17002,1433,2049,8888,13306,17003,5800,18081,25,10000,8081,5060,12345,17004,6001,20021,88,8008,17005,18082,19200,1720,3000,18088,19000,5432,19103,18083,19100,17006,1521,19104,18085,19001,15432,15901,81,2121,5989,15900,9080,5666,18087,13314,17007,19102,19002,17010,1688,18086,18084,8300,2383,7070,2869,7001,9010,19003,6667,17008,17009,19202,19101,5001,2000,3800,20020,13307,19007,19008,13312,19004,13310">
                                                                        --custom-top-ports 100
                                                                    </option>
                                                                </datalist>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_exclude">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_exclude" type="checkbox"><b>排除的IP</b>
                                                                    </label>
                                                                </div>
                                                                <input class="form-control" id="input_exclude"
                                                                       type="text"
                                                                       placeholder="nmap/masscan --exclude 参数"
                                                                       values="">
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-4">
                                                                        <label for="select_bin">扫描方法</label>
                                                                        <select class="form-control" id="select_bin">
                                                                            <option value="nmap">nmap</option>
                                                                            <option value="masscan" selected="selected">
                                                                                masscan（默认）
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        <label for="select_tech">探测技术</label>
                                                                        <select class="form-control" id="select_tech">
                                                                            <option value="-sS" selected>-sS（默认）
                                                                            </option>
                                                                            <option value="-sT">-sT</option>
                                                                            <option value="-sV">-sV</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        <label for="input_rate">扫描速度</label>
                                                                        <input class="form-control" id="input_rate"
                                                                               type="text" placeholder="1000（默认）"
                                                                               value="">
                                                                    </div>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_httpx">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_httpx" type="checkbox"
                                                                               checked>HTTPX指纹
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_whatweb">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_whatweb" type="checkbox"
                                                                        >WhatWeb指纹
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_wappalyzer">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_wappalyzer" type="checkbox"
                                                                        >Wappalyzer
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_screenshot">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_screenshot" type="checkbox"
                                                                               checked
                                                                        >ScreenShot
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label" for="checkbox_ping">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_ping" type="checkbox">PING
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-md-12">
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_iplocation">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_iplocation" type="checkbox"
                                                                               checked><b>IP归属地</b>
                                                                    </label>
                                                                </div>
                                                                <label class="form-check-label">资产API：</label>
                                                                <div class="form-check form-check-inline"
                                                                     for="checkbox_fofasearch">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_fofasearch" type="checkbox"><b>Fofa</b>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_subtask">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_subtask" type="checkbox"><b>并发子任务模式</b>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row bg-light ">
                                                            <div class="col-md-12">
                                                                <label for="select_org_id_task"><b>资产关联的组织机构</b></label>
                                                                <select class="form-control" id="select_org_id_task">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="vulverify">
                                                        <div class="form-group row bg-light">
                                                            <div class="col-md-12">
                                                                <p></p>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label"
                                                                           for="checkbox_pocsuite3">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_pocsuite3"
                                                                               type="checkbox"><b>Pocsuite3</b>
                                                                    </label>
                                                                </div>
                                                                <input class="form-control"
                                                                       id="input_pocsuite3_poc_file" type="text"
                                                                       placeholder="--选择poc文件--" values=""
                                                                       list="datalist_pocsuite3_poc_file">
                                                                <datalist id="datalist_pocsuite3_poc_file"
                                                                          style="display:none;">
                                                                </datalist>
                                                                <p></p>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label" for="checkbox_xray">
                                                                        <input class="form-check-input"
                                                                               id="checkbox_xray" type="checkbox"><b>XRay</b>
                                                                    </label>
                                                                </div>
                                                                <input class="form-control" id="input_xray_poc_file"
                                                                       type="text"
                                                                       placeholder="--选择poc文件--" values=""
                                                                       list="datalist_xray_poc_file">
                                                                <datalist id="datalist_xray_poc_file"
                                                                          style="display:none;">
                                                                </datalist>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                        <div style="height:50px"><p></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            aria-hidden="true">取消
                                    </button>
                                    <button class="btn btn-primary org-update" type="button" id="start_task">
                                        开始任务
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div> <!-- table responsive-->
                </div>
                <!----tile body-->
            </div> <!-- tile -->
        </div> <!-- col md-12 -->
    </div>
    <!--row-->
</main>

<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<!-- Data table plugin-->
<script src="static/js/plugins/jquery.dataTables.min.js"></script>
<script src="static/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery/jquery.bootstrap-duallistbox.js"></script>
<script src="static/js/server/ip-list.js"></script>
<script src="static/js/server/assert-list.js"></script>


