<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="static/images/favicon.ico">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Nemo - Login</title>
  </head>
  <body>
    <section class="material-half-bg">
      <img src="static/images/bj.jpg">
      <div class="cover"></div>
    </section>
    <section class="lockscreen-content">
      <div class="logo">
        <h1>Nemo</h1>
      </div>
      <div class="lock-box"><img class="rounded-circle user-image" src="static/images/favicon1.ico">
        <h4 class="text-center user-name">Nemo</h4>
        <!-- <p class="text-center text-muted">账号已锁</p> -->
        <form class="unlock-form" action="" method='post'>
          <div class="form-group">
            <label class="control-label">口 令</label>
            <input class="form-control" type="password" name="password" placeholder="Password" autofocus>
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-unlock fa-lg"></i>解 锁</button>
          </div>
        </form>
        <!-- <p><a href="/login">Not John ? Login Here.</a></p> -->
      </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="static/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>