<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="card">
                    <h2 class="card-header">
                        <div class="form-check-inline">
                            {{ .task_info.TaskId }}
                        </div>
                    </h2>
                    <div class="card-body">
                        <b><span class="btn btn-info">任务名称</span></b>
                        <span class="btn btn-warning text-left">
                            {{ .task_info.TaskName }}
                        </span>
                        {{ if .task_info.Comment }}
                        <b><span class="btn btn-info">任务说明</span></b>
                        <span class="btn border-success text-left">
                           {{ .task_info.Comment }}</span>
                        {{ end }}
                        <br><br>
                        <b><span class="btn btn-info">任务状态</span></b>
                        <span class="btn btn-warning  text-left">{{ .task_info.Status }}</span>
                        {{ if .task_info.LastRunTime }}
                        <b><span class="btn btn-info">上次执行时间</span></b>
                        <span class="btn border-success text-left">
                           {{ .task_info.LastRunTime }}</span>
                        {{ end }}
                        <b><span class="btn btn-info">执行次数</span></b>
                        <span class="btn btn-warning  text-left">{{ .task_info.RunCount }}</span>
                        <br><br>
                        <b><span class="btn btn-info">任务参数</span></b>
                        <br><br>
                        <span class="btn border-secondary text-left">
                            <div style="width:100%;white-space:normal;word-wrap:break-word;word-break:break-all;">
                            {{ .task_info.KwArgs }}
                            </div>
                        </span>
                        <br><br>
                        <b><span class="btn btn-info">定时执行规则</span></b>
                        <br><br>
                        <span class="btn border-secondary text-left">
                            <div style="width:100%;white-space:normal;word-wrap:break-word;word-break:break-all;">
                            {{ .task_info.CronRule }}
                            </div>
                        </span>
                        <br><br>
                        <b><span class="btn btn-info">工作空间</span></b>
                        <span class="btn border-success">{{ .task_info.Workspace }}</span>
                        <b><span class="btn btn-info">创建时间</span></b>
                        <span class="btn border-success">{{ .task_info.CreateTime }}</span>
                        <b><span class="btn btn-info">更新时间</span></b>
                        <span class="btn border-success">{{ .task_info.UpdateTime }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--row-->
</main>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<script>
    $(function () {
        $("title").html(" {{ .task_info.TaskId }}-taskinfo");
        $('#btnsiderbar').click();
    });
</script>
