<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i>&nbsp;工作空间列表</h1>
            <p></p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="/index">首页</a></li>
            <li class="breadcrumb-item active"><a href="#">工作空间列表</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <a class="btn btn-primary" href="workspace-add" role="button" title="新建工作空间">
                        <i class="fa fa-cubes fa-lg"></i>新建工作空间</a>
                    <br>
                    <br>
                    <table class="table table-hover table-bordered dataTable no-footer" id="workspace_table" role="grid"
                           aria-describedby="workspace_table" width="100%">
                    </table>
                    <!-- 模态对话框：修改-->
                    <div class="modal fade" id="editworkspace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">
                                        修改工作空间
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="workspace_name">工作空间名称</label>
                                            <div>
                                                <input class="form-control col-md-7" title="工作空间名称" id="workspace_name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="workspace_description">工作空间描述</label>
                                            <div>
                                                <input class="form-control col-md-7" title="工作空间描述" id="workspace_description">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="sort_order">排序号</label>
                                            <div>
                                                <input class="form-control col-md-7" title="排序号" id="sort_order">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="state">状态</label>
                                            <div>
                                                <select class="form-control col-md-7" title="工作空间状态" id="state">
                                                    <option value="enable">Enable</option>
                                                    <option value="disable">Disable</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="hr hr-16 hr-dotted"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    aria-hidden="true">Cancel
                                            </button>
                                            <button class="btn btn-primary workspace-update" type="button" id="workspace_update">
                                                <span>更新</span> <i class="fa fa-send m-l-10"></i>
                                            </button>
                                        </div>
                                        <input type="hidden" id="workspace_id">
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>
                <!----tile body-->
            </div> <!-- tile -->
        </div> <!-- col md-12 -->
    </div>
    <!--row-->
</main>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="static/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery/jquery.bootstrap-duallistbox.js"></script>
<script type="text/javascript" src="static/js/server/workspace-list.js"></script>
