<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <form class="row">
                        <div class="form-group col-md-3 align-self-end">
                            <button class="btn btn-primary" type="button" id="batch_reload"><i
                                    class="fa fa-fw fa-lg fa-refresh"></i>批量重启
                            </button>
                            <button class="btn btn-primary" type="button" id="refresh"><i
                                    class="fa fa-fw fa-lg fa-refresh"></i>刷新
                            </button>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label"
                                       for="checkbox_auto-refresh">
                                    <input class="form-check-input"
                                           id="checkbox_auto-refresh" type="checkbox" checked>自动刷新
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tile">
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="worker_table" width="100%">
                    </table>

                    <!-- 模态对话框：启动参数修改-->
                    <div class="modal fade" id="editWorkerOption" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header card-header bg-primary">
                                    <h4 class="modal-title">
                                        Worker运行参数
                                    </h4>
                                </div>
                                <div class="modal-body ">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="select_concurrency"><strong>任务并发数</strong></label>
                                            <select class="form-control" id="select_concurrency">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3" selected>3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <label><strong>任务模式</strong></label>
                                            <br/>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label"
                                                       for="checkbox_task_mode_0">
                                                    <input class="form-check-input"
                                                           id="checkbox_task_mode_0" type="checkbox"
                                                    >全部任务
                                                </label>
                                            </div>
                                            <br/>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label"
                                                       for="checkbox_task_mode_1">
                                                    <input class="form-check-input"
                                                           id="checkbox_task_mode_1" type="checkbox"
                                                    >主动扫描
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label"
                                                       for="checkbox_task_mode_2">
                                                    <input class="form-check-input"
                                                           id="checkbox_task_mode_2" type="checkbox"
                                                    >指纹识别
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label"
                                                       for="checkbox_task_mode_3">
                                                    <input class="form-check-input"
                                                           id="checkbox_task_mode_3" type="checkbox"
                                                    >被动搜集
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label"
                                                       for="checkbox_task_mode_4">
                                                    <input class="form-check-input"
                                                           id="checkbox_task_mode_4" type="checkbox"
                                                    >漏洞验证
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label"
                                                       for="checkbox_task_mode_5">
                                                    <input class="form-check-input"
                                                           id="checkbox_task_mode_5" type="checkbox"
                                                    >自定义任务
                                                </label>
                                            </div>
                                            <br/>
                                            <label for="select_worker_performance"><strong>工作性能</strong></label>
                                            <select class="form-control" id="select_worker_performance">
                                                <option value="0" selected>自动选择</option>
                                                <option value="1">高性能</option>
                                                <option value="2">普通性能</option>
                                            </select>
                                            <label for="input_default_config_file"><strong>配置文件</strong>
                                            </label>
                                            <input class="form-control" id="input_default_config_file" type="text"
                                                   placeholder="conf/worker.yml" value="">
                                            <label for="input_task_workspace_guid"><strong>自定义任务的工作空间GUID</strong>
                                            </label>
                                            <input class="form-control" id="input_task_workspace_guid" type="text"
                                                   placeholder="工作空间GUID，多个以,分割" value="">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label"
                                                               for="checkbox_no_proxy">
                                                            <input class="form-check-input"
                                                                   id="checkbox_no_proxy"
                                                                   type="checkbox">禁止本地socks5代理转发
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="input_worker_name" value="">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            aria-hidden="true">取消
                                    </button>
                                    <button class="btn btn-primary org-update" type="button" id="buttonUpdate">
                                        更新并重启
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div> <!-- table responsive-->


                </div>
                <!----tile body-->
            </div> <!-- tile -->
        </div> <!-- col md-12 -->
    </div>
    <!--row-->
</main>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<!-- Data table plugin-->
<script src="static/js/plugins/jquery.dataTables.min.js"></script>
<script src="static/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/jquery/jquery.bootstrap-duallistbox.js"></script>
<script src="static/js/server/worker-list.js"></script>
<script>
    $(function () {
        $("title").html("Worker-Nemo");
    });
</script>
