<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>添加工作空间</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="/index">首页</a></li>
            <li class="breadcrumb-item"><a href="/workspace-list">工作空间列表</a></li>
            <li class="breadcrumb-item active"><a href="#">添加工作空间</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="workspace_name">工作空间名称<span
                                        class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <input class="form-control col-md-7" title="工作空间名称" id="workspace_name"
                                           placeholder="workspace name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3"
                                       for="workspace_description">工作空间详细描述</label>
                                <div class="col-md-8">
                                    <input class="form-control col-md-7" title="工作空间详细描述"
                                           id="workspace_description"
                                           placeholder="workspace description">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="sort_order">排序号<span
                                        class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <input class="form-control col-md-7" title="排序号" id="sort_order" value="100">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="state">工作空间状态<span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <select class="form-control col-md-7" title="工作空间状态" id="state">
                                        <option value="enable">Enable</option>
                                        <option value="disable">Disable</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="tile-footer">
                            <button class="btn btn-primary " id="workspace_add" type="button">添加</button>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/plugins/pace.min.js"></script>
<script src="static/js/sweetalert/sweetalert.min.js"></script>
<script src="static/js/plugins/select2.min.js"></script>
<script src="static/js/jquery/jquery.md5.js"></script>
<script src="static/js/server/workspace-add.js"></script>
<script>
    $(function () {
        $('#btnsiderbar').click();
    });
</script>